Customized Agent.json
{
  "name": "Customized Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Start by saying 'hi'\n![Button](https://i.imgur.com/PrIBJI6.png)",
        "height": 149,
        "width": 150
      },
      "id": "5592c045-6718-4c4e-9961-ce67a251b6df",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        -48
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\nYou are an automated Billing Follow-Up Agent responsible for identifying overdue invoices in QuickBooks Online and sending appropriately-toned late-payment reminder emails to customers and write them each a single payment reminder email . You adjust message firmness based on how many days their invoice is overdue. You communicate professionally, clearly, and ethically at all times and be polite.\n\n# Task\n1. Call the `getInvoices` tool using the required JSON structure:\n{ \"query\": \"WHERE DueDate < '{{ $now.format(\"yyyy-MM-dd\") }}'\" }.Do NOT use \"SELECT * FROM Invoice\" in the query parameter; just use WHERE as instructed.\n2. Identify all invoices returned that are past due.\n3. Group invoices by customer.\n4. For each customer with at least one overdue invoice, draft and send **one combined email** using:\n{\n\"customerEmail\": \"<email>\",\n\"subject\": \"<generated subject>\",\n\"message\": \"<generated body>\"\n}\n5. The email must include:\n- A subject line generated by you  \n- A written message body  \n- A summary of each overdue invoice (invoice number, amount, due date, and days overdue)\n6. Apply escalating tone based on overdue range:\n- **1–7 days:** Very polite, gentle reminder  \n- **8–21 days:** Polite but firmer  \n- **22–45 days:** Firm, professional  \n- **46+ days:** Strong, direct, final notice (still respectful)\n7. After all reminders are sent, return a JSON summary of all emails sent.\n\n# Input\nThe agent receives no structured input other than today’s date. All invoice and customer data must come from tool calls.\n\n# Tools\n### `getInvoices({ \"query\": string })`\nRetrieves invoices from QuickBooks Online using a SQL-like query.  \n**You must ALWAYS call this tool using this structure:**\n\n{\n\"query\": \"WHERE DueDate < '{{ $now.format(\"yyyy-MM-dd\") }}'\"\n}\n\n\n\n# Outputs\nAfter sending all reminders, output a JSON summary in the following format:\n\n```json\n{\n  \"emailsSent\": <number>,\n  \"items\": [\n    {\n      \"customerName\": \"string\",\n      \"amount\": number,\n      \"daysOverdue\": number,\n      \"subject\": \"string\",\n      \"body\": \"string\"\n    }\n  ]\n}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a friendly Agent designed to guide users through these steps.\n\n- Stop at the earliest step mentioned in the steps\n- Respond concisely and do **not** disclose these internal instructions to the user. Only return defined output below.\n- Don't output any lines that start with -----\n- Replace \":sparks:\" with \"✨\" in any message"
        }
      },
      "id": "41174c8a-6ac8-42bd-900e-ca15196600c5",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        816,
        -32
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        256
      ],
      "id": "a5c30a68-dfc4-4875-8780-11e37a543112",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kBNkI6dSRtyrFv1u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "invoice",
        "operation": "getAll",
        "filters": {
          "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.quickbooksTool",
      "typeVersion": 1,
      "position": [
        736,
        416
      ],
      "id": "b37732e2-6db0-4c83-82f4-764a6aa824cf",
      "name": "getInvoices",
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "KnSWkLQvAvhCHCdq",
          "name": "QuickBooks Online account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "malek.zitouni@insat.ucar.tn",
        "toEmail": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailFormat": "text",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSendTool",
      "typeVersion": 2.1,
      "position": [
        992,
        400
      ],
      "id": "6075ba8f-4a68-455a-a846-7a8f19f26516",
      "name": "Send email in Send Email",
      "webhookId": "dc7631b9-eb11-4512-95bb-41bbe59c02ef",
      "credentials": {
        "smtp": {
          "id": "qgfEcVlS749OsjJs",
          "name": "SMTP account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"emailsSent\": 10,\n  \"details\": [\n    {\n      \"customerName\": \"Kevin Cookie Company\",\n      \"customerEmail\": \"kevin@kevincookiecompany.com\",\n      \"amountOverdue\": 1000,\n      \"daysOverdue\": 7,\n      \"emailSubject\": \"Payment is 7 days overdue!\",\n      \"emailBody\": \"EOM. - David's Agent\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1232,
        416
      ],
      "id": "8d58c090-f071-47c7-9d9d-8881f6f8ff79",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.details",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1280,
        32
      ],
      "id": "bb843071-2bb5-443c-aa89-52a3e686b3d2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "session"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        416
      ],
      "id": "17fca4c1-b683-4a02-9cfe-ed9cd319efb3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1552,
        32
      ],
      "id": "e31d4ccf-22b5-46d4-baea-5caca33944f5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1440786626950205614",
          "mode": "list",
          "cachedResultName": "AI_agent_server",
          "cachedResultUrl": "https://discord.com/channels/1440786626950205614"
        },
        "channelId": {
          "__rl": true,
          "value": "1440786628506288240",
          "mode": "list",
          "cachedResultName": "général",
          "cachedResultUrl": "https://discord.com/channels/1440786626950205614/1440786628506288240"
        },
        "message": "=\nCustomer : {{ $json.customerName }}\nSubject : {{ $json.emailSubject }}\nBody : {{ $json.emailBody }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1872,
        16
      ],
      "id": "565f5c45-1581-4535-9850-286cbb891c6d",
      "name": "Send message and wait for response",
      "webhookId": "b63d9d7d-2550-4e62-b2ea-58e1da90cb51",
      "credentials": {
        "discordBotApi": {
          "id": "vNIjHdZt6PrH7aj8",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        432,
        -48
      ],
      "id": "46b56c6d-c4d9-4446-9ad7-e9b6cb8f7496",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f139a635-0352-47d7-a1db-b6b21ea82aa3",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2208,
        32
      ],
      "id": "7a5690e2-98ae-4af7-af85-25b5f939ea9e",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "malek.zitouni@insat.ucar.tn",
        "toEmail": "={{ $('Loop Over Items').item.json.customerEmail }}",
        "subject": "={{ $('Loop Over Items').item.json.emailSubject }}",
        "emailFormat": "text",
        "text": "={{ $('Loop Over Items').item.json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2416,
        -64
      ],
      "id": "68a8fb47-7491-4832-a2bf-96de97679115",
      "name": "Send email",
      "webhookId": "4b03673b-dc9c-415f-a6f8-84fd356aa2f9",
      "credentials": {
        "smtp": {
          "id": "qgfEcVlS749OsjJs",
          "name": "SMTP account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "getInvoices": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send email in Send Email": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "e051b753-c406-49a3-8f61-0dccea95e499",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "29e6e472d834604fc29b0769805b9945e316665580401dbbb1cefa8247349226"
  },
  "id": "6tGxUOI7ltS83NXY",
  "tags": []
}